*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: DepartureMono Nerd Font, Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: antiquewhite;
}

#screen {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 80px;
    max-width: 290px;
    border: solid #2e2f31;
    font-size: 25px;
    text-align: right;
    height: 34px;
    overflow: hidden;
    word-break: break-all;
}

#buttons-layout {
    max-width: 298px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.separator {
    width: 15px;
}

button {
    margin: 3px;
    width: 50px;
    height: 50px;
    background-color: #2e2f31;
    color: antiquewhite;
    font-size: 1.5em;
    border-style: none;
    border-radius: 3px;
    
}

#equal-button {
    width: 106px;
}

button:hover {
    background-color: #311e11;
}

/* body * {
    border: dotted grey;
} */