*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: antiquewhite;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

#screen {
    margin: 30px;
    font-size: 2em;
    text-align: center;
    min-height: 50px;
}

#buttons-layout {
    display: flex;
    justify-content: center;
}

#number-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
}

#operator-buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
}

button {
    margin: 2px;
    width: 50px;
    background-color: #214762;
    color: antiquewhite;
    font-size: 1.5em;
    border-style: none;
}

button:hover {
    background-color: #547d9a;
}